$newline never
\<!doctype html>
\<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
\<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
\<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
\<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">

    <title>Stadt-Land-Programmier-Framework Online #{pageTitle pc}
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="@{StaticR css_materialize_min_css}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="@{StaticR css_style_css}" type="text/css" rel="stylesheet" media="screen,projection">
    
    ^{pageHead pc}
    
    \<!--[if lt IE 9]>
    \<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    \<![endif]-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.3/js.cookie.min.js">

    <script>
      /* The `defaultCsrfMiddleware` Middleware added in Foundation.hs adds a CSRF token the request cookies. */
      /* AJAX requests should add that token to a header to be validated by the server. */
      /* See the CSRF documentation in the Yesod.Core.Handler module of the yesod-core package for details. */
      var csrfHeaderName = "#{TE.decodeUtf8 $ CI.foldedCase defaultCsrfHeaderName}";

      var csrfCookieName = "#{TE.decodeUtf8 defaultCsrfCookieName}";
      var csrfToken = Cookies.get(csrfCookieName);


      if (csrfToken) {
      \  $.ajaxPrefilter(function( options, originalOptions, jqXHR ) {
      \      if (!options.crossDomain) {
      \          jqXHR.setRequestHeader(csrfHeaderName, csrfToken);
      \      }
      \  });
      }

    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');
  <body>
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="@{IndexR}" class="brand-logo">SLP-Online
        <ul class="right hide-on-med-and-down">
          <li><a href="@{CreateLobbyR}">Spiel erstellen
          <li><a href="@{RulesR}">Spielregeln und Ablauf
        <ul id="nav-mobile" class="side-nav">
          <li><a href="@{CreateLobbyR}">Spiel erstellen
          <li><a href="@{RulesR}">Spielregeln und Ablauf
        <a href="#" data-activates="nav-mobile" class="button-collapse">
          <i class="material-icons">menu
    <div class="container">
      <header>
      <div id="main" role="main">
        ^{pageBody pc}
      <footer>

    $maybe analytics <- appAnalytics $ appSettings master
      <script>
        if(!window.location.href.match(/localhost/)){
          window._gaq = [['_setAccount','#{analytics}'],['_trackPageview'],['_trackPageLoadTime']];
          (function() {
          \  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          \  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          \  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        }

    <script type="text/javascript" src="@{StaticR js_materialize_min_js}">
    <script type="text/javascript" src="@{StaticR js_init_js}">
