<div class="section no-pad-bot">
  <div class="container">
    <br>
    <h1 class="header center orange-text">Spielregeln und Ablauf
    <h4>Spiel erstellen
    <p>Nach dem Klick auf "Spiel erstellen" können die Spieloptionen festgelegt werden. Dafür werden zunächst die Kategorien bestimmt. Kategorien können aus der angebotenen Liste ausgewählt werden oder selbst erstellt werden, indem man auf den Plus-Button klickt und eine Kategorie einträgt. Für ein Spiel muss mindestens eine Kategorie festgelegt werden. Außerdem kann man die Rundenanzahl festlegen, indem man den zugehörigen Regler verschiebt. Die Standard-Rundenanzahl ist 6.
    <p>Nach dem Klick auf den Button "Erstellen" gelangt man zur Lobby des Spiels. Hier muss man einen Spielernamen angeben diesen mit einem Klick auf "Mitspielen" bestätigen. Darunter befindet sich ein Link zum aktuellen Spiel, mit dem man Freunde zu diesem Spiel einladen kann. Sobald alle Mitspieler sich eingetragen haben, kann das Spiel mit einem Klick auf "Spiel starten" begonnen werden.
    <br>
    <h4>Ablauf und Regeln
    <p>In jeder Runde hat jeder Spieler die Chance, seine Antworten einzutragen. Es werden nur Antworten akzeptiert, die mit dem vorgegebenen Buchstaben anfangen, dabei ist die Groß- oder Kleinschreibung egal. Wer als Erster fertig ist, kann mit einem Klick auf den Button "Antworten abschicken" die Runde beenden, zeitgleich endet die Runde auch für alle anderen Mitspieler. Wer also zu lange überlegt, riskiert, nicht fertig zu werden.
    <p>Nach dem Beenden einer Runde gelangen alle Spieler zur Auswertung. Hier können alle Spieler die gegebenen Anworten der Mitspieler überprüfen und ggf. entwerten. Pro Antwort gibt es 10 Punkte. Wenn also keine oder eine nicht der Kategorie entsprechende Anwort gegeben wurde, kann diese als Falsch gewertet werden, indem man den Schalter auf Falsch setzt. Sobald mindestens die Hälfte aller Mitspieler eine Antwot als Falsch wertet, wird diese nicht gezählt und es gibt 10 Punkte weniger für den betroffenen Mitspieler. Sobald ein Spieler seine Bewertung abschickt, indem er auf den Button "Bewertungen bestätigen" klickt, haben die anderen Mitspieler noch etwas Zeit, ihre Bewertungen ebenfalls abzuschicken.
    <br>
    <h4>Ergebnis
    <p>Nach der letzten Runde und Bewertung ist das Spiel beendet und es wird das Ergebnis angezeigt. Gewinner ist derjenige Spieler, der die meisten Punkte erzielt hat.